<div class="hero-unit" style="text-align:center">
	<h1>Keep track of everything you like</h1>
	<br/>
	<p>See where your friends eat and what they read, at a glance. Keep your stuff private.</p>
	<br />
	<br />
	<br />
	<%= link_to "Sign Up", sign_up_path, :class => "btn btn-large btn-primary" %>
	<br />
	<br />
	<br />

</div>

<br />
<br />

<div style="text-align:center">
	<%= image_tag "example.png", width:'1000px' %>
</div>
<br />
<br />
<br />
<br />

<div style="background:white">
<div class="row">
	<div class="span10 offset3">
		<h2>Why Favy?</h2>
		I couldn't find a good way to keep track of things I like and see what my friends like. I was tired of badges and seeing what my friends pretended they like. I thought simple privacy settings and simple design would be a service I would use. This is Favy. Please give me feedback if you get a chance. Thank you!
		<br />
		<br />
	</div>
</div>

<div style="text-align:center">
	<%= mail_to "pamihood@gmail.com", "Email Feedback", :subject => "Feedback for Favy", :body => "", :class => "btn btn-primary btn-large" %>
</div>
<br />
<br />
</div>
