<div class="hero-unit" style="text-align:center">
	<h1>Simple lists for your favorite things</h1>
	<br/>
	<p>One place to keep track of what you like and your wishlists. Discover what your friends like.</p>
	<br />
	<br />
	<br />
	<%= link_to "Sign Up", sign_up_main_path, :class => "btn btn-large btn-primary" %>
</div>

<div class="row">
	<div class="span4">
		<h2>Make a list, any list</h2>
		Add stuff that you really like and that your friends will find valuable.
	</div>
	<div class="span4">
		<h2>Keep it private</h2>
		A list can be private, for your friends only, or public. Simple as that.
	</div>
	<div class="span4">
		<h2>Follow lists</h2>
		Not all friends are created equal. Follow the lists that you like, not just your friends.
	</div>
	<div class="span4">
		<h2>At a glance</h2>
		See all lists at once for quick discoverabilty.
	</div>
</div>