// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.6em; }
  .m { font-size: 0.8em; }
  .l { font-size: 1.2em; }
}

.ui-autocomplete-loading {
	background: white image-url('ui-anim_basic_16x16.gif') right center no-repeat;
}

.field#location { display: none;
}