// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.affix {
    position: fixed;
    height: 500px;
    width: 270px; 
    overflow: auto;
}

.loading { background:url('amazon_logo.jpg') no-repeat right center }

DIV.list_item_container {
    height: 80px;
    padding: 2px;
}
DIV.item_image {
    width: 50px;
    height: 50px;
    float: left;
    padding-right:5px
}
DIV.item_description {
    font-style: italic;
    font-size: 0.6em;
    color: gray;
}
DIV.item_label {
	font-style: bold;
    font-size: 0.8em;
}
